td {
    border: 1px solid;
    text-align: center;
    font-family: 'Lucida Sans', sans-serif;
    font-size: 14px;
    word-break: normal;
    padding: 10px;
}

[data-tooltip] {
    position: relative;
    cursor: default;
    &:after {
        visibility: hidden;
        width: max-content;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.5s, transform 0.3s;
        
        position: absolute;
        max-width: 500px;
        left: calc(50%);
        box-sizing: border-box;
        text-align: center;
    
        color: black;
        background: rgb(245, 235, 235);
        content: attr(data-tooltip);
        padding: 8px;
        border-radius: 10px;
        font-size: 1.1em;
    }
    &:hover::after {
        opacity: 1;
        visibility: visible;
        z-index: 999;
        white-space: break-spaces;
        transform: translateY(0);
    }
}