<div class="toolbar" role="banner">
  <span style="margin-left: 16px; font-family: 'Nunito', sans-serif;font-size: 20px"> NumerologyIt </span>
  <div class="spacer"></div>
  <img src="assets/languages/br.svg" alt="br" width="18px" (click)="changeLang('pt')">
  <img src="assets/languages/us.svg" alt="us" width="18px" (click)="changeLang('en')">
</div>

<div class="content" role="main">
  <div style="margin-right: 100px;">
    <input type="text" class="form-control" required minlength="2" #name="ngModel" 
    [(ngModel)]="personEdit.name" placeholder="Full Name" (keydown.enter)="addThisPerson()">
    
    <input type="text" class="form-control" required minlength="10" #birthdate="ngModel"
        [(ngModel)]="personEdit.birthDate" placeholder="Birth Date" (keydown.enter)="addThisPerson()" 
        [dropSpecialCharacters]="false" [showMaskTyped]="true" mask="d0/M0/0000">
        <div *ngFor="let conversion of conversions">
          <label for="{{conversion.value}}">
            <input id="{{conversion}}" [value]='conversion' type="radio" name="enums" 
            [(ngModel)]="radioSelected">
            {{conversion.value | translate}}
          </label>
        </div>

        <button [disabled]="name.invalid || birthdate.invalid" (click)="addThisPerson()">
          {{(people.length == 0 ? 'general.add' : 'general.addMore') | translate}}
        </button>
      </div>
  <app-table-result
    (deleteIndex)="deletePersonAt($event)"
    [analysisList]="analysisList" 
    [people]="people" 
    *ngIf="people.length>1">
  </app-table-result>

  <app-single-result 
    (deleteIndex)="deletePersonAt($event)"
    [analysisList]="analysisList"
    [people]="people" 
    *ngIf="people.length==1">
  </app-single-result>

</div>
<router-outlet></router-outlet>
